#include <windows.h>
#include "../src/resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDR_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N",            IDM_FILE_NEW
        MENUITEM "&Open...\tCtrl+O",        IDM_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Close\tCtrl+W",          IDM_FILE_CLOSE
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",           IDM_EDIT_UNDO
        MENUITEM "&Redo\tCtrl+Y",           IDM_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",            IDM_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C",           IDM_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V",          IDM_EDIT_PASTE
        MENUITEM "De&lete\tDel",            IDM_EDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A",     IDM_EDIT_SELECT_ALL
    END
END

IDR_ACCELERATORS ACCELERATORS
BEGIN
    "N",    IDM_FILE_NEW,       VIRTKEY, CONTROL
    "O",    IDM_FILE_OPEN,      VIRTKEY, CONTROL
    "W",    IDM_FILE_CLOSE,     VIRTKEY, CONTROL
END
